.about {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;

    font-size: 36px;
    font-weight: 400;
    line-height: 51px;
    color: $color-text-content;
  }

  &__link {
    width: 180px;
  }

  &__year {
    margin: 0;

    font-size: 156px;
    font-weight: 700;
    line-height: 220px;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  &__content {
    width: 75%;
  }
}
