.btn {
  @include btn;

  &--secondary {
    background-color: $color-main;
    border-color: $color-main;
  }

  &--big {
    max-width: 405px;
    padding: 17px 28px;

    font-size: 16px;
  }

  &--main {
    color: $color-main;
    border-color: $color-main;
  }
}
