.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    box-sizing: border-box;
    width: 49%;
    min-height: 299px;
    padding: 42px 45px 67px;
    margin-bottom: 29px;

    box-shadow: -3px 0 0 0 $color-main;
    border: 1px solid $color-border;

    transition:
      box-shadow $transition-time $transition-time,
      background-color $transition-time $transition-function;

    &:nth-last-child(-n+2) {
      @media (min-width: $width-tablet) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      @include mobile {
        margin-bottom: 0;
      }
    }

    &:hover {
      background-color: $color-main;
      cursor: pointer;
      border-color: $color-main;

      .features-list__text {
        color: $color-text-attention;
      }

      .features-list__icon {
        path {
          fill: $color-secondary;
        }
      }
    }

    @include desktop {
      width: 48%;
    }

    @include tablet {
      min-height: 232px;
      padding: 25px 28px 19px;
      padding-right: 18px;
    }

    @include mobile {
      width: 100%;
      padding-bottom: 22px;
      margin-bottom: 20px;
    }

    &--big {
      @include mobile {
        padding-right: 9px;
      }
    }
  }

  &__text {
    @include transition(color);

    margin: 0;

    font-family: $font-attention;
    font-size: 16px;
    line-height: 22px;
    color: $color-text-content;

    &--title {
      margin-bottom: 15px;

      font-family: $font-main;
      font-size: 24px;
      line-height: 34px;
      font-weight: 400;
      color: $color-main;

      @include tablet {
        margin-bottom: 8px;
      }

      @include mobile {
        margin-bottom: 13px;

        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &__icon {
    margin-bottom: 15px;

    path {
      @include transition(fill);
      fill: $color-main;
    }

    @include tablet {
      margin-bottom: 4px;
    }
  }
}
