  .features {
    padding-top: 112px;

    @include tablet {
      padding-top: 54px;
    }

    @include mobile {
      padding-top: 37px;
    }

    &__container {
      @media (min-width: $width-desktop) {
        padding-left: 16px;
      }
    }
  }
