.feedback {
  padding-top: 92px;
  padding-bottom: 114px;

  color: $color-text-attention;
  background-color: $color-main;

  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__content {
    box-sizing: border-box;
    width: 49%;
    margin-left: auto;
    padding-left: 11px;
  }

  &__text {
    margin: 0;
    margin-bottom: 49px;
  }
}
