.feedback {
  padding-top: 92px;
  padding-bottom: 114px;

  color: $color-text-attention;
  background-color: $color-main;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 106px;
  }

  @include mobile {
    padding-top: 30px;
    padding-bottom: 42px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 17px;
    }

    @include mobile {
      margin-bottom: 13px;
    }
  }

  &__content {
    box-sizing: border-box;
    width: 49%;
    margin-left: auto;
    padding-left: 11px;

    @include desktop {
      width: 54%;
    }

    @include tablet {
      width: 82%;
      margin: 0 auto;
      padding-left: 0;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 49px;

    @include tablet {
      margin-bottom: 54px;
    }

    @include mobile {
      margin-bottom: 26px;
    }
  }
}
