.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
  }

  &__text {
    @include text-secondary--alternate;

    margin: 0;

    @include mobile {
      width: 100%;
      margin: 0;
      margin-bottom: 21px;

      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--copyright {
      margin-left: auto;
      margin-right: 0;
    }

    &--privacy {
      margin-left: 10%;

      @include desktop {
        margin-left: 8%;
      }

      @include tablet {
        margin-left: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 458px;
  }
}
