.link {
  @include transition(opacity);

  color: $color-text-attention;
  text-decoration: none;

  &:hover {
    opacity: $opacity-hover;
    cursor: pointer;
  }

  &--secondary {
    &:hover {
      opacity: 1;
    }
  }

  &:focus {
    @include outline-focus;
  }
}
