.logo-link {
  display: flex;
  justify-content: space-between;

  padding-left: 11px;

  @include tablet {
    padding-left: 0;
  }

  &--secondary {
    .logo-link__text-wrapper {
      width: 75%;
    }
  }

  &__text-wrapper {
    width: 67%;
    padding-top: 5px;
  }

  &__text {
    margin: 0;

    @include mobile {
      @include visually-hidden;
    }

    &--title {
      font-family: $font-main;
      font-size: 25px;
      font-weight: bold;

      color: $color-text-attention;
    }

    &--content {
      font-family: $font-secondary;
      font-size: 12px;
      font-weight: 500;

      color: $color-text-secondary;
    }

    &--secondary {
      color: $color-text-dark;
    }
  }
}
