.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__list {
    margin-left: auto;
    padding-left: 3px;
  }

  &__logo-link {
    width: 14%;

    @include desktop {
      width: 21%;
    }

    @include tablet {
      width: 29%;
    }
  }

  &__btn {
    max-width: 200px;
    margin-left: 52px;

    @include tablet {
      display: none;
    }
  }
}
