.page-header {
  min-height: 845px;
  padding-top: 33px;

  background-color: $color-bg-main;
  background-repeat: no-repeat;
  background-image:
      url('../img/header-bg-mask-desktop@1x.png'),
      url('../img/boards-desktop@1x.png');
  background-position:
      center,
      right 13% top 65%;
  color: $color-text-attention;

  &__container {
    width: 1420px;
    margin: 0 auto;
  }

  &__nav {
    margin-bottom: 230px;
  }

  &__content {
    width: 55%;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__wrapper {
    padding-left: 108px;
  }

  &__text {
    position: relative;

    margin: 0;
    margin-bottom: 62px;

    font-family: $font-attention;
    font-size: 22px;
    line-height: 34px;

    &::before {
      content: '';
      position: absolute;
      top: 17px;
      left: -97px;

      width: 66px;
      height: 2px;

      background-color: $color-secondary;
    }
  }
}
