.page-header {
  min-height: 845px;
  padding-top: 33px;

  background-color: $color-bg-main;
  background-repeat: no-repeat;
  background-image: url('../img/header-bg-mask-desktop@1x.png');
  background-position: center;

  color: $color-text-attention;

  @include tablet {
    min-height: 666px;
    padding-top: 20px;
  }

  @include mobile {
    min-height: 630px;
    padding-top: 17px;
  }

  //&__container {
  //  max-width: 1420px;
  //  margin: 0 auto;
  //
  //  @include desktop {
  //    padding: 0 25px;
  //  }
  //}

  //&__content {
  //  max-width: 1920px;
  //  padding-top: 230px;
  //
  //  background-repeat: no-repeat;
  //  background-image:
  //    url('../img/boards-desktop@1x.png'),
  //    url('../img/triangles-desktop@1x.png');
  //  background-position:
  //    right 13% top 72%,
  //    right 100% top 54%;;
  //}

  //&__content-wrapper {
  //  width: 55%;
  //}



  //&__bg {
  //  width: 1920px;
  //
  //  background-repeat: no-repeat;
  //  background-image:
  //      url('../img/boards-desktop@1x.png'),
  //      url('../img/triangles-desktop@1x.png');
  //  background-position:
  //      right 13% top 72%,
  //      right 100% top 54%;;
  //}

  &__content {
    padding-top: 230px;

    @include desktop {
      padding-top: 155px;
    }

    @include tablet {
      padding-top: 116px;
    }

    @include mobile {
      padding-top: 230px;
    }
  }

  &__content-wrapper {
    width: 55%;
    margin-left: 5px;

    @include desktop {
      width: 50%;
    }

    @include tablet {
      width: 60%;
      margin-left: 64px;
    }

    @include mobile {
      width: 100%;
      margin-left: 0;
    }
  }

  &__text-wrapper {
    margin-bottom: 93px;
    padding-left: 101px;

    @include tablet {
      padding-left: 52px;
    }

    @include mobile {
      padding-left: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.07em;

    @include desktop {
      font-size: 70px;
    }

    @include tablet {
      font-size: 60px;
    }

    @include mobile {
      font-size: 40px;
    }
  }

  &__text {
    position: relative;

    margin: 0;
    margin-bottom: 44px;

    font-family: $font-attention;
    font-size: 22px;
    line-height: 34px;

    @include desktop {
      font-size: 20px;
      line-height: 30px;
    }

    @include tablet {
      margin-bottom: 55px;

      font-size: 18px;
      line-height: 28px;
    }

    @include mobile {
      padding-left: 52px;
      margin-bottom: 40px;

      font-size: 16px;
      line-height: 25px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 17px;
      left: -97px;

      width: 66px;
      height: 2px;

      background-color: $color-secondary;

      @include tablet {
        top: 16px;
        left: -49px;

        width: 33px;
      }

      @include mobile {
        left: 4px;
      }
    }
  }

  &__link {
    &--features {
      @include transition(opacity);

      margin-left: 5px;

      font-family: $font-attention;
      font-size: 14px;
      line-height: 16px;
      writing-mode: vertical-rl;
      text-align: right;
      transform: rotate(180deg);

      color: $color-text-attention;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}
