.services {
  padding-top: 88px;
  padding-bottom: 75px;

  background-color: $color-bg-main;

  @include tablet {
    padding-top: 51px;
  }

  &__title {
    margin: 0;

    @include tablet {
      padding-right: 15%;
      margin-bottom: 50px;
    }
  }
}
