.services {
  padding-top: 88px;
  padding-bottom: 127px;

  background-color: $color-bg-main;

  @include tablet {
    padding-top: 51px;
    padding-bottom: 76px;
  }

  @include mobile {
    padding-bottom: 63px;
  }

  &__container {
    @media (min-width: $width-desktop) {
      padding-left: 17px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 52px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include mobile {
      padding-right: 0;
      padding-left: 11px;
      margin-bottom: 42px;
    }
  }
}
