.services-list {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    width: 370px;
    height: 620px;
    //padding: 52px 23px;
    padding: 52px 0;
    margin-right: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    outline: 1px solid $color-main;

    @include desktop {
      width: 304px;
    }

    @include tablet {
      width: 100%;
      height: 256px;
      margin-bottom: 46px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:nth-child(n+4) {
      @media (min-width: $width-desktop) {
        margin-top: 30px;
      }
    }

    &:hover {
      box-shadow: inset 0 0 0 3px $color-main;
    }

    &:nth-child(3n) {
      @media (min-width: $width-desktop) {
        margin-right: 0;
      }
    }

    //&--production {
    //  background-image: url('../img/services-production-desktop@1x.jpg');
    //
    //  @include retina {
    //    background-image: url('../img/services-production-desktop@2x.jpg');
    //  }
    //}

    //&--montage {
    //  background-image: url('../img/services-montage-desktop@1x.jpg');
    //
    //  @include retina {
    //    background-image: url('../img/services-montage-desktop@2x.jpg');
    //  }
    //}

    //&--lights {
    //  background-image: url('../img/services-lights-desktop@1x.jpg');
    //
    //  @include retina {
    //    background-image: url('../img/services-lights-desktop@2x.jpg');
    //  }
    //}
  }

  &__content {
    @include filter($color-bg-main);

    //width: 370px;
    //height: 620px;

    background-image: url('../img/services-production-desktop@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__link {
    display: block;
    color: $color-text-attention;
  }

  &__title {
    position: absolute;
    top: 52px;
    left: 30px;
    z-index: $z-index-title;

    width: 50%;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
