@mixin main-text {
  font-family: $font-attention;
  font-size: 16px;
  line-height: 22px;
}

@mixin main-text--secondary {
  @include main-text;
  color: $color-text-attention;
}

@mixin main-text--small {
  @include main-text;

  font-size: 14px;
  line-height: 16px;
}
