.mobile-not {
  @include mobile {
    display: none;
  }
}

.mobile-only {
  display: none;

  @include mobile {
    display: inline;
  }
}

.tablet-not {
  @include tablet {
    display: none;
  }
}

.tablet-begin {
  display: none;

  @include tablet {
    display: block;
  }
}
