//breakpoints
$width-tablet: 768px;
$width-desktop: 1024px;
$width-fullhd: 1920px;

//colors
$color-bg-main: #1B2D37;
$color-bg-secondary: #FAFAFA;
$color-main: #00B2FF;
$color-secondary: #FFFFFF;
$color-text-main: #1B2D37;
$color-text-attention: #FFFFFF;
$color-text-content: #666666;
$color-text-secondary: #788891;
$color-text-dark: #203C42;
$color-border: #E5E5E5;

//fonts
$font-main: 'Roboto Condensed', 'Arial', sans-serif;
$font-attention: 'PT Mono', 'Consolas', monospace;
$font-secondary: 'Roboto', 'Arial', sans-serif;

//other
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//styleguide
$opacity-hover: 0.5;
$transition-time: 0.3s;
$transition-function: ease;

//z-index
$z-index-filter: 1;
$z-index-title: 2;
$z-index-link: 3;
$z-index-arrow-btn: 4;

