//breakpoints
$width-tablet: 768px;
$width-desktop: 1024px;
$width-fullhd: 1920px;

//colors
$color-bg-main: #1B2D37;
$color-main: #00B2FF;
$color-text-attention: #FFFFFF;
$color-text-content: #666666;
$color-text-main: #1B2D37;
$color-text-secondary: #788891;

//fonts
$font-main: 'Roboto Condensed', 'Arial' sans-serif;
$font-attention: 'PT Mono', 'Consolas', monospace;
$font-secondary: 'Roboto', 'Arial' sans-serif;

//other
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

